body {
  background-color: #fbffff;
  font-family: "Source Code Pro", monospace;
}

a {
  color: #b906f0c3;
}

a:hover {
  text-decoration: none;
}

.container {
  background: #9cf1ef;
  max-width: 700px;
  margin: 35px auto;
  box-shadow: 0 25px 45px rgba(88, 132, 135, 0.7);
  padding: 30px;
  border-radius: 15px;
}

header {
  border-bottom: 1px solid #e1e4e4;
  padding: 0 0 35px 0;
}

.search-input {
  background-color: #fbffff;
  border: none;
  border-radius: 5px;
  width: 500px;
  padding: 10px 20px;
  font-size: 14px;
}

.search-button {
  background-color: #b906f085;
  border: none;
  border-radius: 5px;
  width: 172px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fbffff;
  cursor: pointer;
  margin-left: 5px;
}

main {
  padding: 25px 0;
}

.data {
  display: flex;
  justify-content: space-between;
}

.city {
  margin: 0;
  font-size: 36px;
  line-height: 42px;
}

.date-and-details {
  font-size: 16px;
  line-height: 20px;
}

.date-and-details strong {
  color: rgba(181, 19, 202, 0.8);
}

.temperature {
  display: flex;
}

.app-icon {
  width: 75px;
  height: 75px;
  /* font-size: 40px; */
  margin-top: 15px;
  /* margin-left: 10px; */
}

.temp-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
}

.temp-unit {
  font-size: 22px;
  margin-top: 25px;
  font-weight: 500;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  color: #000;
  font-weight: 700;
}

.forecast-date {
  font-size: 16px;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 15px;
  line-height: 16px;
}

.forecast-icon {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.forecast-temp {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}

.min-temp {
  opacity: 0.5;
}

footer {
  border-top: 1px solid #e1e4e4;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(46, 46, 46, 0.7);
}
